<!DOCTYPE html>
<html lang="pt-br">
<%- include('../../partials/head', { title: 'Visualizar Estabelecimento' }) %>

    <body class="bg-light">
        <%- include('../../partials/header') %>

        <div style="padding-top: 2.9em;"></div>
        <div>&nbsp;</div>
        
        <div class="container w-75 px-4">
            
            <!-- breadcrumb -->
            <%- include('../../partials/breadcrumb', { pageTitle: 'Visualizar Estabelecimento' }) %>

            <div class="cabecalho-geral">
                <h1 class="mb-0">Visualizar Estabelecimento</h1>

                <a href="/estabelecimentos" class="btn px-5 align-middle fs-5 btn-voltar"> 
                    <i class="align-middle fs-5 bi bi-caret-left-square"></i>&nbsp; Voltar
                </a>
            </div>

            <main class="mb-5 geral">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row px-3">
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="col-md-11 d-flex ">
                                    <p class="mt-1">Estabelecimento:</p>
                                    <h4 class="ms-1"><strong> <%= estabelecimento.estabelecimento.toUpperCase() %> </strong></h4>
                                </div>
                                <div class="col-md-1 mt-1">
                                    <p><strong>ID:</strong> <%= estabelecimento.id %></p>
                                </div>
                            </div>

                            <hr>

                            <div class="col-md-6">
                                <p>Produtos:<strong> <%= (estabelecimento.produtoFormatado || estabelecimento.produto).toUpperCase() %></p></strong></p>
                                <p>Responsável:<strong> <%= estabelecimento.responsavel_nome.toUpperCase() %></p></strong></p>
                                <p>Endereço:<strong> <%= estabelecimento.endereco.toUpperCase() %></p></strong></p>
                                <p>Bairro:<strong> <%= estabelecimento.bairro.toUpperCase() %></p></strong></p>
                                <p>Observações:<strong> <%= estabelecimento.observacoes ? estabelecimento.observacoes.toUpperCase() : 'N/A' %></p></strong></p>
                            </div>
                            
                            <div class="col-md-6">
                                <p>Telefone:<strong> <%= estabelecimento.telefone_contato %></p></strong></p>
                                <p>Chave:<strong> <%= estabelecimento.chave ? estabelecimento.chave.toUpperCase() : 'N/A' %></p></strong></p>
                                <p>Máquina:<strong> <%= estabelecimento.maquina ? estabelecimento.maquina.toUpperCase() : 'N/A' %></p></strong></p>
                                <p>Dia do Cadastro:<strong> <%= new Date(estabelecimento.data_criacao).toLocaleDateString('pt-BR') %></p></strong></p>
                                <p>Última Edição:<strong> <%= data_atualizacao ? new Date(data_atualizacao).toLocaleDateString('pt-BR') : 'N/A' %></p></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
        </script>
    </body>
</html>
